<%= render Evaluation::Wizard::StepNavComponent.new(current_step: @current_step) %>

<div class="bg-white rounded-xl border border-gray-200 shadow-sm p-6">
  <%= render step_content_component %>
</div>
