---
http_interactions:
- request:
    method: get
    uri: https://gmail.googleapis.com/gmail/v1/users/me/messages/msg1
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"msg1","threadId":"thread1","snippet":"Thank you for applying","labelIds":["INBOX"],"payload":{"mimeType":"multipart/mixed","headers":[{"name":"Subject","value":"Job Application Update"},{"name":"From","value":"hr@company.com"},{"name":"To","value":"me@example.com"},{"name":"Date","value":"Mon, 1 Jan 2026 12:00:00 +0000"}],"parts":[{"mimeType":"text/plain","body":{"data":"VGhhbmsgeW91IGZvciBhcHBseWluZw==","size":22}},{"mimeType":"text/html","body":{"data":"PGI+VGhhbmsgeW91PC9iPg==","size":16}}]}}'
  recorded_at: 'Tue, 24 Mar 2026 10:00:00 GMT'
recorded_with: VCR 6.4.0
