---
http_interactions:
- request:
    method: post
    uri: https://gmail.googleapis.com/gmail/v1/users/me/messages/msg1/modify
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"code":400,"message":"Label name exists or conflicts","status":"INVALID_ARGUMENT","errors":[{"message":"Label name exists or conflicts","domain":"gmail","reason":"labelNameExistsOrConflicts"}]}}'
  recorded_at: 'Tue, 24 Mar 2026 10:00:00 GMT'
recorded_with: VCR 6.4.0
