---
http_interactions:
- request:
    method: patch
    uri: https://api.github.com/gists/notfound
    body:
      encoding: UTF-8
      string: '{"files":{"interviews.csv":{"content":"id,company,job_title,status,applied_at,rejected_at,first_interview_at,second_interview_at,third_interview_at,fourth_interview_at\n"}}}'
    headers:
      Authorization:
      - Bearer <GITHUB_TOKEN>
      X-Github-Api-Version:
      - 2022-11-28
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest"}'
  recorded_at: Sun, 29 Mar 2026 00:00:00 GMT
recorded_with: VCR 6.3.1
