---
http_interactions:
- request:
    method: patch
    uri: https://api.github.com/gists/abc123
    body:
      encoding: UTF-8
      string: '{"files":{"interviews.csv":{"content":"id,company,job_title,status,applied_at,rejected_at,first_interview_at,second_interview_at,third_interview_at,fourth_interview_at\n"}}}'
    headers:
      Authorization:
      - Bearer <GITHUB_TOKEN>
      X-Github-Api-Version:
      - 2022-11-28
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"abc123","description":"Job applications","public":false,"files":{"interviews.csv":{"filename":"interviews.csv","type":"text/plain","language":"CSV","raw_url":"https://gist.githubusercontent.com/raw/abc123/interviews.csv","size":100,"content":"id,company,..."}}}'
  recorded_at: Sun, 29 Mar 2026 00:00:00 GMT
recorded_with: VCR 6.3.1
